body{
	width:100%;
	max-width:1280px;
	margin:auto;
	background: #FF512F;
	background: -webkit-linear-gradient(to right, #F09819, #FF512F);
	background: linear-gradient(to right, #F09819, #FF512F);
}

#main{
	padding:10px 10px;
	margin:auto;
	font-family:"consolas",'sans-serif';
}

#list{
	padding:1rem 1em;
	margin:auto;
	font-family:'sans-serif';
	display:flex;
	flex-wrap:wrap;
}

#list > div{
	margin:0.5rem 0.5rem;
	width:18%;
	min-width:200px;
	box-shadow:0px 0px 1px 1px rgba(0,0,0,0.125);
	border-radius:0px !important;
}

#list >div{
	background-color:#4caf50;
}
#list >div:nth-of-type(8n+1),
#list >div:nth-of-type(8n+3),
#list >div:nth-of-type(8n+6),
#list >div:nth-of-type(8n+8){
	background-color:#3f51b5;
}

.listEntry{
	display:flex;
	flex-direction:column;
}

.entry-name{
	font-family:"Fira Sans";
	font-size:1.25rem;
	padding:0.125rem 0.25rem;
	text-align:center;
	border-bottom:1px solid rgba(0,0,0,0.5);
	/*margin-bottom:0.125rem;*/
	background:#fff;
}

.entry-link{
	text-align:center;
	
	width:100%;
	
	color: #2196f3;
    background-color: #ffffff;
	text-transform: uppercase;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.125);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.125);
    cursor: pointer;
    border: 1px 0px 1px 0px solid rgba(0,0,0,0.125);
	border-top:1px solid rgba(0,0,0,0.25);
    white-space: nowrap;
    padding: 3px 0px;
    font-size: 12px;
	font-family: inherit;
}

.location-container{
	margin:0.25rem auto;
	font-size:0.75rem;
	display: flex;
    flex-wrap: wrap;
	padding: 0.25rem 0.25rem;
}

.location-entry{
	margin:0.25rem 0.25rem;
	border:1px solid rgba(0,0,0,0.25);
	box-shadow:1px 1px 4px 0px rgba(0,0,0,0.125);
	padding:0.125rem;
	font-family:"Open Sans";
	background:white;
}

.location-entry span{
	margin: 0.25rem 0rem;
    padding: 0rem 0.125rem;
}

.location-name{
	padding-right:0.25rem !important;
	border-right:1px solid black;
}
.location-country{
	padding-left:0.25rem !important;
}

.remote{
	font-size:0.75rem;
	box-shadow:0px 0px 1px 0px rgba(0,0,0,0.125);
	padding:0.25rem;
	background:#cddc39;
}

.chosen-container .chosen-results li.group-option {
	width: 50% !important;
	display: inline-block !important;
}

.chosen-container-multi .chosen-choices li.search-choice{
    border-radius: 0px !important;
    background-color: #fff !important;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(20%,#fff),color-stop(50%,#fdfdfd),color-stop(52%,#fdfdfd),to(#ffffff)) !important;
    background-image: linear-gradient(#fff 20%,#fdfdfd@ 50%,#fdfdfd 52%,#fff 100%) !important;
    background-size: 100% 19px;
    background-repeat: repeat-x;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0,0,0,.05);
    box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0,0,0,.05);
    color: #333;
    line-height: 13px;
    cursor: default;
}

.act-btn{
	text-transform: uppercase;
    border: none;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	color: #ffffff;
    background-color: #2196f3;
    margin-top: 0.5rem;
	margin-bottom:0.25rem
    text-align: center;

    border: 1px solid transparent;
    white-space: nowrap;
    padding: 3px 12px;
    font-size: 12px;
    line-height: 1.846;
	    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
}